html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, li, a {
  color: $text-color;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

a {
  text-decoration: none;
}
